button {
    cursor: pointer;
}

.button {
    border-radius: 25px;
    font-weight: $thickWeight;
    padding: 8px 16px;
}

.green-button {
    @include generalButtonShape;
    @include presentationButton($btnGreen, $white);
    &:hover {
        background-color: $btnHoverGreen;
    }
}

.yellow-button {
    @include generalButtonShape;
    @include presentationButton($btnYellow, $black);
    &:hover {
        background-color: $btnHoverYellow;
    }
}

.black-button {
    @include generalButtonShape;
    @include presentationButton($btnBlack, $white);
    &:hover {
        background-color: $btnHoverBlack;
    }
}

.pink-button {
    @include generalButtonShape;
    @include presentationButton($btnPink, $black);
    &:hover {
        background-color: $btnHoverPink;
    }
}

.white-button {
    @include generalButtonShape;
    @include presentationButton($btwnWhite, $black);
    &:hover {
        background-color: $btnHoverWhite;
    }
}