/********************Class Selectors********************/



.main-page-navbar {
    align-items: center;
    background-color: rgb(29,42,53);
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    
    span {
        margin-right: 5px;
    }
    
    .hidden-navbar-menu-choice {
        display: none;
    }
    
    
    .logo-anchor {
        color: $btnGreen;
        font-size: 2.5rem;
        padding-right: 15px;
        &:hover {
            color: $btnHoverGreen;
        }
        
    }
    
    
    .navbar-menu-choice {
        align-items: center;
        display: flex;
        font-weight: $thickWeight;
        height: 4.68rem;
        padding: 0 20px;
        &:hover {
            background-color: rgb(4, 170, 109);
        }
    }
    
    
    
    .three-pack-logo {
        align-items: center;
        align-self: stretch;
        display: flex;
        margin-left: auto;
    }
    
    .navbar-button {
        font-size: 1.125rem;
        margin: 0 5px;
        white-space: nowrap;
    }
    
    .nav-bar-icon {
        align-items: center;
        display: flex;
        font-size: 1.25rem;
        height: 100%;
        padding: 0 10px;
        &:hover {
            color: $btnHoverGreen;
        }
    }
    
    .username-icon {
        font-size: 1.875rem;
        margin-left: 5%;
        &:hover {
            color: $btnHoverGreen;
        }
    }
    
    #freeWebsite {
        background-color: $btnYellow;
        color: $black;
        &:hover {
            background-color: $btnHoverYellow;
        }
    }
    
    #getCertified {
        background-color: $btnPink;
        color: $black;
        &:hover {
            background-color: $btnHoverPink;
        }
    }
    
    #pro {
        background-color: $white;
        color: $black;
        &:hover {
            background-color: #616161;
        }
    }
    
}

.hidden-navbar-menu {
    display: none;
}








/********************ID Selectors********************/





@media screen and (max-width: $extra-largeScreen-max-width) {
    #video {
        display: none;
    }
    
    #pro {
        display: none;
    }
}

@media screen and (max-width: $largeScreen-max-width) {
    
    #getCertified {
        display: none;
    }
    #freeWebsite {
        display: none;
    }
    
}

@media screen and (max-width: $smallScreen-max-width) {
    
    .main-page-navbar {
        
        .navbar-menu-choice {
            display: none;
        }
        .hidden-navbar-menu-choice {
            display: flex;
            align-items: center;
            font-weight: 600;
            height: 4.68rem;
            padding: 0 20px;
        }
    }
    
    .hidden-navbar-menu {
        height: 520px;
        background-color: grey;
        position: absolute;
        display: flex;
        top: 74px;
        width: 100%;
        
    }
    
}



