
.css-language {
    background-color: rgb(255,244,163);
}

.empty {
    height: 296px;
}

.html-language {
    background-color: rgb(217,238,225);
}

.javascript-language {
    background-color: rgb(13,23,33);
   
    h1 {
        color: white;
    }

    p {
        color: white;
    }
}

.python-language {
    background-color: rgb(243,236,234);
}


.sql-language {
    background-color: rgb(150,212,212);



}

.presentation-card {
    display: flex;
    justify-content: space-evenly;
    padding: 75px 0;

    article {
        width: 50%;
        margin: 0 5%;
    }

    .example-container {
        background-color: rgb(21,32,43);
        color: $white;
        margin: 15px;
        padding: 15px;
        line-height: 1.5;
        span {
            font-family: 'Inconsolata', monospace;
        }
    }

    h1 {
        font-size: 5rem;
    }

    h3 {
        color: $white;
        font-size: 1.5rem;
        padding: 15px 0 0 15px;
        font-weight: 400;
    }

    .presentation-card-title {
        align-items: center;
        display: flex;
        flex-direction: column;
        button {
            margin: 10px 0;
        }


        p {
            font-size: 1.1rem;
            font-weight: $thickWeight;
            white-space: nowrap;
        }
    }

    .presentation-card-example {
        display: flex;
        button {
            margin: 0 0 25px 25px;
            width: 200px;
        }
    }

    .presentation-card-example-container {
        background-color: rgb(56,68,77);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: $smallScreen-max-width) {

    .presentation-card {
        flex-direction: column;
        align-items: center;

        .presentation-card-example {
            width: 75%;
        }

       

        .presentation-card-title {
            margin-bottom: 50px;

        }
        
    }

}


