.presentation-card {
    display: flex;



    .presentation-card-title {
        display: flex;
        flex-direction: column;
    }

    .presentation-card-example-container {
        display: flex;
        flex-direction: column;
    }



}