/*Colors*/
$black: black;
$white: rgb(255, 255, 255);

/*button Colors*/
$btnGreen: rgb(4, 170, 109);
$btnPink: rgb(255, 192, 199);
$btnYellow: rgb(255, 244, 163);
$btnBlack: rgb(40,42,53);

/*Hover Colors*/
$btnHoverBlack: #000;
$btnHoverGreen: rgb(5, 152, 98);
$btnHoverPink: rgb(255, 179, 187);
$btnHoverYellow: rgb(255, 240, 128);

/*buttons*/
$btnRadius: 25px;
$btnFontsize: 1.125rem;
$btnPadding: 8px 16px;

/*Fonts*/
$thickWeight: 600;

/*BreakPoint Variables*/
$extra-largeScreen-max-width: 1200px;
$largeScreen-max-width: 1000px;


@mixin presentationButton($background-color, $color) {
    background-color: $background-color;
    color: $color;
}

@mixin generalButtonShape {
    border: none;
    min-width: 200px;
}


