.hidden-navbar-menu-invisible {
    display: none;
}





.hidden-navbar-menu-visible {
    background-color: rgb(56,68,77);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 74px;
    width: 100%;
    font-weight: $thickWeight;

    .hidden-menu-anchor {
        font-size: 1.375rem;
        text-align: center;
        padding: 23px 0;
        &:hover {
            background-color: rgb(79, 93, 103);
            
        }
    }
}






@media screen and (max-width: $smallScreen-max-width) { 

    


}



